APP_ENV=
APP_ADDR=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=
GITHUB_FRONTEND_CALLBACK_URL=
GITHUB_WEBHOOK_URL=
JWT_SECRET=
GITHUB_TOKEN_SECRET=
DATABASE_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
AI_PROVIDER=
OLLAMA_BASE_URL=
OLLAMA_MODEL=
